In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import pandas as pd
import numpy as np
import cv2
import hashlib
import os
from glob import glob
from tensorflow.keras.preprocessing.image import load_img,img_to_array
from tensorflow.keras.models import model_from_json
from tensorflow.keras import Model
from pathlib import Path

In [3]:
os.listdir("Feature_Files")

['GlobalFeatureExtraction.csv', 'LocalFeatureExtraction.csv']

In [4]:
global_df=pd.read_csv("Feature_Files/GlobalFeatureExtraction.csv")
local_df=pd.read_csv("Feature_Files/LocalFeatureExtraction.csv")

In [5]:
global_df.head()

         Video Names                                           features
0  Arson009_x264.mp4  e301227db2da73824850c0f8969bca165c4c340b4b41d6...
1  Arson012_x264.mp4  1e47a786d515ef507116d00078fea34bf1f8fb6d682af5...
2  Arson018_x264.mp4  f9cd8c8da985464c9be8512cd2592c17ea3e0b6ebbd918...
3  Arson037_x264.mp4  d41918405876d409387b0a5c09c5c505ba5ccc06fbef65...
4  Arson049_x264.mp4  e9b9823013565898f833834efd4d22d37fab59cb9901e7...

In [6]:
local_df.head()

,VideosNames,FramesNames,fet_0,fet_1,fet_2,fet_3,fet_4,fet_5,fet_6,fet_7,...,fet_1014,fet_1015,fet_1016,fet_1017,fet_1018,fet_1019,fet_1020,fet_1021,fet_1022,fet_1023
0,Arson009_x264,frame0,0.0,0.270545,0.515574,0.0,0.0,0.0,0.0,0.359326,...,0.0,0.0,0.0,0.0,0.266533,0.061677,0.0,0.0,0.564807,0.0
1,Arson009_x264,frame1,0.0,0.268254,0.519331,0.0,0.0,0.0,0.0,0.354353,...,0.0,0.0,0.0,0.0,0.264962,0.064023,0.0,0.0,0.562341,0.0
2,Arson009_x264,frame10,0.0,0.188347,0.416303,0.0,0.0,0.0,0.0,0.327601,...,0.0,0.0,0.0,0.0,0.326728,0.001726,0.0,0.0,0.542945,0.0
3,Arson009_x264,frame100,0.0,0.230471,0.434438,0.0,0.0,0.0,0.0,0.349674,...,0.0,0.0,0.0,0.0,0.281594,0.077210,0.0,0.0,0.508210,0.0
4,Arson009_x264,frame11,0.0,0.188005,0.416552,0.0,0.0,0.0,0.0,0.327501,...,0.0,0.0,0.0,0.0,0.325403,0.000863,0.0,0.0,0.540642,0.0

In [7]:
file = Path("cnn_model/model_structure.json")
model_structure = file.read_text()
model = model_from_json(model_structure)
model.load_weights("cnn_model/model_weights.h5")

In [8]:
for idx in range(len(model.layers)):
    print(model.get_layer(index = idx).name)

conv2d
max_pooling2d
dropout
conv2d_1
max_pooling2d_1
dropout_1
flatten
dense
dropout_2
dense_1

In [9]:
intermediate_layer_model = Model(inputs=model.input,outputs=model.get_layer('dense').output)

### UserInput

In [10]:
user_input="UserInput/y2.mp4" # case 1 : existing video-> options: (y1.mp4,y2.mp4)
#user_input="UserInput/n8.mp4" # case 2: partial match-> options: (n6.mp4,n8.mp4)
#user_input="UserInput/n3.mp4" # case 3: new video-> options: (n3.mp4,n5.mp4)

In [11]:
BLOCK_SIZE = 65536
Features = []
file_hash = hashlib.sha256()
with open(user_input, 'rb') as f: 
    fb = f.read(BLOCK_SIZE)
    while len(fb) > 0:
        file_hash.update(fb)
        fb = f.read(BLOCK_SIZE)
Features.append(file_hash.hexdigest())

In [12]:
print(Features)

['1e47a786d515ef507116d00078fea34bf1f8fb6d682af56eed56b75c467ad801']

In [13]:
matched_videoName=[]
for i in range(len(Features)):
    for j in range(global_df.shape[0]):
        if str(global_df["features"][j])==str(Features[i]):
            matched_videoName.append(global_df["Video Names"][j])
if len(matched_videoName)>0:
    print("Matched video name is {}".format(matched_videoName[0]))
else:
    print("There is no matching")

Matched video name is Arson012_x264.mp4

---

### Delete old files

In [14]:
images = glob("UserInput_Frames/*.jpg")
for old_images in images:
    os.remove(old_images)

### Converting video into frames

In [15]:
count = 0
cam = cv2.VideoCapture(user_input)
while(True): 
    ret,frame = cam.read() 
    if ret: 
        filename = 'UserInput_Frames/'+user_input.split('/')[1]+"_frame%d.jpg" % count;
        print ('Creating...' + filename) 
        cv2.imwrite(filename, frame) 
        count+=1
    else: 
        break
cam.release()

Creating...UserInput_Frames/y2.mp4_frame0.jpg
Creating...UserInput_Frames/y2.mp4_frame1.jpg
Creating...UserInput_Frames/y2.mp4_frame2.jpg
Creating...UserInput_Frames/y2.mp4_frame3.jpg
Creating...UserInput_Frames/y2.mp4_frame4.jpg
Creating...UserInput_Frames/y2.mp4_frame5.jpg
Creating...UserInput_Frames/y2.mp4_frame6.jpg
Creating...UserInput_Frames/y2.mp4_frame7.jpg
Creating...UserInput_Frames/y2.mp4_frame8.jpg
Creating...UserInput_Frames/y2.mp4_frame9.jpg
Creating...UserInput_Frames/y2.mp4_frame10.jpg
Creating...UserInput_Frames/y2.mp4_frame11.jpg
Creating...UserInput_Frames/y2.mp4_frame12.jpg
Creating...UserInput_Frames/y2.mp4_frame13.jpg
Creating...UserInput_Frames/y2.mp4_frame14.jpg
Creating...UserInput_Frames/y2.mp4_frame15.jpg
Creating...UserInput_Frames/y2.mp4_frame16.jpg
Creating...UserInput_Frames/y2.mp4_frame17.jpg
Creating...UserInput_Frames/y2.mp4_frame18.jpg
Creating...UserInput_Frames/y2.mp4_frame19.jpg
Creating...UserInput_Frames/y2.mp4_frame20.jpg
Creating...UserInput_Frames/y2.mp4_frame21.jpg
Creating...UserInput_Frames/y2.mp4_frame22.jpg
Creating...UserInput_Frames/y2.mp4_frame23.jpg
Creating...UserInput_Frames/y2.mp4_frame24.jpg
Creating...UserInput_Frames/y2.mp4_frame25.jpg
Creating...UserInput_Frames/y2.mp4_frame26.jpg
Creating...UserInput_Frames/y2.mp4_frame27.jpg
Creating...UserInput_Frames/y2.mp4_frame28.jpg
Creating...UserInput_Frames/y2.mp4_frame29.jpg
Creating...UserInput_Frames/y2.mp4_frame30.jpg
Creating...UserInput_Frames/y2.mp4_frame31.jpg
Creating...UserInput_Frames/y2.mp4_frame32.jpg
Creating...UserInput_Frames/y2.mp4_frame33.jpg
Creating...UserInput_Frames/y2.mp4_frame34.jpg
Creating...UserInput_Frames/y2.mp4_frame35.jpg
Creating...UserInput_Frames/y2.mp4_frame36.jpg
Creating...UserInput_Frames/y2.mp4_frame37.jpg
Creating...UserInput_Frames/y2.mp4_frame38.jpg
Creating...UserInput_Frames/y2.mp4_frame39.jpg
Creating...UserInput_Frames/y2.mp4_frame40.jpg
Creating...UserInput_Frames/y2.mp4_frame41.jpg
Creating...UserInput_Frames/y2.mp4_frame42.jpg
Creating...UserInput_Frames/y2.mp4_frame43.jpg
Creating...UserInput_Frames/y2.mp4_frame44.jpg
Creating...UserInput_Frames/y2.mp4_frame45.jpg
Creating...UserInput_Frames/y2.mp4_frame46.jpg
Creating...UserInput_Frames/y2.mp4_frame47.jpg
Creating...UserInput_Frames/y2.mp4_frame48.jpg
Creating...UserInput_Frames/y2.mp4_frame49.jpg
Creating...UserInput_Frames/y2.mp4_frame50.jpg
Creating...UserInput_Frames/y2.mp4_frame51.jpg
Creating...UserInput_Frames/y2.mp4_frame52.jpg
Creating...UserInput_Frames/y2.mp4_frame53.jpg
Creating...UserInput_Frames/y2.mp4_frame54.jpg
Creating...UserInput_Frames/y2.mp4_frame55.jpg
Creating...UserInput_Frames/y2.mp4_frame56.jpg
Creating...UserInput_Frames/y2.mp4_frame57.jpg
Creating...UserInput_Frames/y2.mp4_frame58.jpg
Creating...UserInput_Frames/y2.mp4_frame59.jpg
Creating...UserInput_Frames/y2.mp4_frame60.jpg
Creating...UserInput_Frames/y2.mp4_frame61.jpg
Creating...UserInput_Frames/y2.mp4_frame62.jpg
Creating...UserInput_Frames/y2.mp4_frame63.jpg
Creating...UserInput_Frames/y2.mp4_frame64.jpg
Creating...UserInput_Frames/y2.mp4_frame65.jpg
Creating...UserInput_Frames/y2.mp4_frame66.jpg
Creating...UserInput_Frames/y2.mp4_frame67.jpg
Creating...UserInput_Frames/y2.mp4_frame68.jpg
Creating...UserInput_Frames/y2.mp4_frame69.jpg
Creating...UserInput_Frames/y2.mp4_frame70.jpg
Creating...UserInput_Frames/y2.mp4_frame71.jpg
Creating...UserInput_Frames/y2.mp4_frame72.jpg
Creating...UserInput_Frames/y2.mp4_frame73.jpg
Creating...UserInput_Frames/y2.mp4_frame74.jpg
Creating...UserInput_Frames/y2.mp4_frame75.jpg
Creating...UserInput_Frames/y2.mp4_frame76.jpg
Creating...UserInput_Frames/y2.mp4_frame77.jpg
Creating...UserInput_Frames/y2.mp4_frame78.jpg
Creating...UserInput_Frames/y2.mp4_frame79.jpg
Creating...UserInput_Frames/y2.mp4_frame80.jpg
Creating...UserInput_Frames/y2.mp4_frame81.jpg
Creating...UserInput_Frames/y2.mp4_frame82.jpg
Creating...UserInput_Frames/y2.mp4_frame83.jpg
Creating...UserInput_Frames/y2.mp4_frame84.jpg
Creating...UserInput_Frames/y2.mp4_frame85.jpg
Creating...UserInput_Frames/y2.mp4_frame86.jpg
Creating...UserInput_Frames/y2.mp4_frame87.jpg
Creating...UserInput_Frames/y2.mp4_frame88.jpg
Creating...UserInput_Frames/y2.mp4_frame89.jpg
Creating...UserInput_Frames/y2.mp4_frame90.jpg
Creating...UserInput_Frames/y2.mp4_frame91.jpg
Creating...UserInput_Frames/y2.mp4_frame92.jpg
Creating...UserInput_Frames/y2.mp4_frame93.jpg
Creating...UserInput_Frames/y2.mp4_frame94.jpg
Creating...UserInput_Frames/y2.mp4_frame95.jpg
Creating...UserInput_Frames/y2.mp4_frame96.jpg
Creating...UserInput_Frames/y2.mp4_frame97.jpg
Creating...UserInput_Frames/y2.mp4_frame98.jpg

### Finding LOCAL FEATURES for all frames

In [16]:
input_frames_names=glob("UserInput_Frames/*.jpg")

In [292]:
print(input_frames_names)

['UserInput_Frames\\n3.mp4_frame0.jpg', 'UserInput_Frames\\n3.mp4_frame1.jpg', 'UserInput_Frames\\n3.mp4_frame10.jpg', 'UserInput_Frames\\n3.mp4_frame11.jpg', 'UserInput_Frames\\n3.mp4_frame12.jpg', 'UserInput_Frames\\n3.mp4_frame13.jpg', 'UserInput_Frames\\n3.mp4_frame14.jpg', 'UserInput_Frames\\n3.mp4_frame15.jpg', 'UserInput_Frames\\n3.mp4_frame16.jpg', 'UserInput_Frames\\n3.mp4_frame17.jpg', 'UserInput_Frames\\n3.mp4_frame18.jpg', 'UserInput_Frames\\n3.mp4_frame19.jpg', 'UserInput_Frames\\n3.mp4_frame2.jpg', 'UserInput_Frames\\n3.mp4_frame20.jpg', 'UserInput_Frames\\n3.mp4_frame21.jpg', 'UserInput_Frames\\n3.mp4_frame22.jpg', 'UserInput_Frames\\n3.mp4_frame23.jpg', 'UserInput_Frames\\n3.mp4_frame24.jpg', 'UserInput_Frames\\n3.mp4_frame25.jpg', 'UserInput_Frames\\n3.mp4_frame26.jpg', 'UserInput_Frames\\n3.mp4_frame27.jpg', 'UserInput_Frames\\n3.mp4_frame28.jpg', 'UserInput_Frames\\n3.mp4_frame29.jpg', 'UserInput_Frames\\n3.mp4_frame3.jpg', 'UserInput_Frames\\n3.mp4_frame30.jpg', 'UserInput_Frames\\n3.mp4_frame31.jpg', 'UserInput_Frames\\n3.mp4_frame32.jpg', 'UserInput_Frames\\n3.mp4_frame33.jpg', 'UserInput_Frames\\n3.mp4_frame34.jpg', 'UserInput_Frames\\n3.mp4_frame35.jpg', 'UserInput_Frames\\n3.mp4_frame36.jpg', 'UserInput_Frames\\n3.mp4_frame37.jpg', 'UserInput_Frames\\n3.mp4_frame38.jpg', 'UserInput_Frames\\n3.mp4_frame39.jpg', 'UserInput_Frames\\n3.mp4_frame4.jpg', 'UserInput_Frames\\n3.mp4_frame40.jpg', 'UserInput_Frames\\n3.mp4_frame41.jpg', 'UserInput_Frames\\n3.mp4_frame42.jpg', 'UserInput_Frames\\n3.mp4_frame43.jpg', 'UserInput_Frames\\n3.mp4_frame44.jpg', 'UserInput_Frames\\n3.mp4_frame45.jpg', 'UserInput_Frames\\n3.mp4_frame46.jpg', 'UserInput_Frames\\n3.mp4_frame47.jpg', 'UserInput_Frames\\n3.mp4_frame48.jpg', 'UserInput_Frames\\n3.mp4_frame49.jpg', 'UserInput_Frames\\n3.mp4_frame5.jpg', 'UserInput_Frames\\n3.mp4_frame50.jpg', 'UserInput_Frames\\n3.mp4_frame51.jpg', 'UserInput_Frames\\n3.mp4_frame52.jpg', 'UserInput_Frames\\n3.mp4_frame53.jpg', 'UserInput_Frames\\n3.mp4_frame54.jpg', 'UserInput_Frames\\n3.mp4_frame55.jpg', 'UserInput_Frames\\n3.mp4_frame56.jpg', 'UserInput_Frames\\n3.mp4_frame57.jpg', 'UserInput_Frames\\n3.mp4_frame58.jpg', 'UserInput_Frames\\n3.mp4_frame59.jpg', 'UserInput_Frames\\n3.mp4_frame6.jpg', 'UserInput_Frames\\n3.mp4_frame60.jpg', 'UserInput_Frames\\n3.mp4_frame61.jpg', 'UserInput_Frames\\n3.mp4_frame62.jpg', 'UserInput_Frames\\n3.mp4_frame63.jpg', 'UserInput_Frames\\n3.mp4_frame64.jpg', 'UserInput_Frames\\n3.mp4_frame65.jpg', 'UserInput_Frames\\n3.mp4_frame66.jpg', 'UserInput_Frames\\n3.mp4_frame67.jpg', 'UserInput_Frames\\n3.mp4_frame68.jpg', 'UserInput_Frames\\n3.mp4_frame69.jpg', 'UserInput_Frames\\n3.mp4_frame7.jpg', 'UserInput_Frames\\n3.mp4_frame70.jpg', 'UserInput_Frames\\n3.mp4_frame71.jpg', 'UserInput_Frames\\n3.mp4_frame72.jpg', 'UserInput_Frames\\n3.mp4_frame73.jpg', 'UserInput_Frames\\n3.mp4_frame74.jpg', 'UserInput_Frames\\n3.mp4_frame75.jpg', 'UserInput_Frames\\n3.mp4_frame76.jpg', 'UserInput_Frames\\n3.mp4_frame77.jpg', 'UserInput_Frames\\n3.mp4_frame78.jpg', 'UserInput_Frames\\n3.mp4_frame79.jpg', 'UserInput_Frames\\n3.mp4_frame8.jpg', 'UserInput_Frames\\n3.mp4_frame80.jpg', 'UserInput_Frames\\n3.mp4_frame81.jpg', 'UserInput_Frames\\n3.mp4_frame82.jpg', 'UserInput_Frames\\n3.mp4_frame83.jpg', 'UserInput_Frames\\n3.mp4_frame84.jpg', 'UserInput_Frames\\n3.mp4_frame85.jpg', 'UserInput_Frames\\n3.mp4_frame86.jpg', 'UserInput_Frames\\n3.mp4_frame87.jpg', 'UserInput_Frames\\n3.mp4_frame88.jpg', 'UserInput_Frames\\n3.mp4_frame89.jpg', 'UserInput_Frames\\n3.mp4_frame9.jpg']

In [ ]:
train_image = []
frame_name = []
for i in range(len(input_frames_names)):
    img = load_img(input_frames_names[i], target_size=(64,64,3))
    img = img_to_array(img)
    img = img/255.0
    train_image.append(img)
    f_name=input_frames_names[i]
    f_name=f_name.split("\\")[1]
    f_name=f_name.split("_")[1]
    frame_name.append(f_name)
X = np.array(train_image)

In [294]:
print(frame_name)

['frame0.jpg', 'frame1.jpg', 'frame10.jpg', 'frame11.jpg', 'frame12.jpg', 'frame13.jpg', 'frame14.jpg', 'frame15.jpg', 'frame16.jpg', 'frame17.jpg', 'frame18.jpg', 'frame19.jpg', 'frame2.jpg', 'frame20.jpg', 'frame21.jpg', 'frame22.jpg', 'frame23.jpg', 'frame24.jpg', 'frame25.jpg', 'frame26.jpg', 'frame27.jpg', 'frame28.jpg', 'frame29.jpg', 'frame3.jpg', 'frame30.jpg', 'frame31.jpg', 'frame32.jpg', 'frame33.jpg', 'frame34.jpg', 'frame35.jpg', 'frame36.jpg', 'frame37.jpg', 'frame38.jpg', 'frame39.jpg', 'frame4.jpg', 'frame40.jpg', 'frame41.jpg', 'frame42.jpg', 'frame43.jpg', 'frame44.jpg', 'frame45.jpg', 'frame46.jpg', 'frame47.jpg', 'frame48.jpg', 'frame49.jpg', 'frame5.jpg', 'frame50.jpg', 'frame51.jpg', 'frame52.jpg', 'frame53.jpg', 'frame54.jpg', 'frame55.jpg', 'frame56.jpg', 'frame57.jpg', 'frame58.jpg', 'frame59.jpg', 'frame6.jpg', 'frame60.jpg', 'frame61.jpg', 'frame62.jpg', 'frame63.jpg', 'frame64.jpg', 'frame65.jpg', 'frame66.jpg', 'frame67.jpg', 'frame68.jpg', 'frame69.jpg', 'frame7.jpg', 'frame70.jpg', 'frame71.jpg', 'frame72.jpg', 'frame73.jpg', 'frame74.jpg', 'frame75.jpg', 'frame76.jpg', 'frame77.jpg', 'frame78.jpg', 'frame79.jpg', 'frame8.jpg', 'frame80.jpg', 'frame81.jpg', 'frame82.jpg', 'frame83.jpg', 'frame84.jpg', 'frame85.jpg', 'frame86.jpg', 'frame87.jpg', 'frame88.jpg', 'frame89.jpg', 'frame9.jpg']

In [295]:
intermediate_output = intermediate_layer_model.predict(X)

In [296]:
intermediate_output.shape

(90, 1024)

In [297]:
df=pd.DataFrame(intermediate_output)

In [298]:
column_names=[]
for i in range(1024):
    column_names.append("pxl_"+str(i))

In [299]:
df.columns=column_names

In [300]:
df.insert(loc=0,column="FrameName",value=frame_name)

In [301]:
df.head()

,FrameName,pxl_0,pxl_1,pxl_2,pxl_3,pxl_4,pxl_5,pxl_6,pxl_7,pxl_8,...,pxl_1014,pxl_1015,pxl_1016,pxl_1017,pxl_1018,pxl_1019,pxl_1020,pxl_1021,pxl_1022,pxl_1023
0,frame0.jpg,0.0,0.262435,0.0,0.0,0.0,0.0,0.0,0.295348,0.0,...,0.0,0.0,0.0,0.0,0.23238,0.045338,0.0,0.0,0.095131,0.0
1,frame1.jpg,0.0,0.262435,0.0,0.0,0.0,0.0,0.0,0.295348,0.0,...,0.0,0.0,0.0,0.0,0.23238,0.045338,0.0,0.0,0.095131,0.0
2,frame10.jpg,0.0,0.262435,0.0,0.0,0.0,0.0,0.0,0.295348,0.0,...,0.0,0.0,0.0,0.0,0.23238,0.045338,0.0,0.0,0.095131,0.0
3,frame11.jpg,0.0,0.262435,0.0,0.0,0.0,0.0,0.0,0.295348,0.0,...,0.0,0.0,0.0,0.0,0.23238,0.045338,0.0,0.0,0.095131,0.0
4,frame12.jpg,0.0,0.262435,0.0,0.0,0.0,0.0,0.0,0.295348,0.0,...,0.0,0.0,0.0,0.0,0.23238,0.045338,0.0,0.0,0.095131,0.0

In [302]:
local_df.head()

,VideosNames,FramesNames,fet_0,fet_1,fet_2,fet_3,fet_4,fet_5,fet_6,fet_7,...,fet_1014,fet_1015,fet_1016,fet_1017,fet_1018,fet_1019,fet_1020,fet_1021,fet_1022,fet_1023
0,Arson009_x264,frame0,0.0,0.270545,0.515574,0.0,0.0,0.0,0.0,0.359326,...,0.0,0.0,0.0,0.0,0.266533,0.061677,0.0,0.0,0.564807,0.0
1,Arson009_x264,frame1,0.0,0.268254,0.519331,0.0,0.0,0.0,0.0,0.354353,...,0.0,0.0,0.0,0.0,0.264962,0.064023,0.0,0.0,0.562341,0.0
2,Arson009_x264,frame10,0.0,0.188347,0.416303,0.0,0.0,0.0,0.0,0.327601,...,0.0,0.0,0.0,0.0,0.326728,0.001726,0.0,0.0,0.542945,0.0
3,Arson009_x264,frame100,0.0,0.230471,0.434438,0.0,0.0,0.0,0.0,0.349674,...,0.0,0.0,0.0,0.0,0.281594,0.077210,0.0,0.0,0.508210,0.0
4,Arson009_x264,frame11,0.0,0.188005,0.416552,0.0,0.0,0.0,0.0,0.327501,...,0.0,0.0,0.0,0.0,0.325403,0.000863,0.0,0.0,0.540642,0.0

In [303]:
local_df1=local_df.drop(labels=["VideosNames","FramesNames"],axis=1)

In [304]:
local_df1.head()

,fet_0,fet_1,fet_2,fet_3,fet_4,fet_5,fet_6,fet_7,fet_8,fet_9,...,fet_1014,fet_1015,fet_1016,fet_1017,fet_1018,fet_1019,fet_1020,fet_1021,fet_1022,fet_1023
0,0.0,0.270545,0.515574,0.0,0.0,0.0,0.0,0.359326,0.0,0.502591,...,0.0,0.0,0.0,0.0,0.266533,0.061677,0.0,0.0,0.564807,0.0
1,0.0,0.268254,0.519331,0.0,0.0,0.0,0.0,0.354353,0.0,0.504568,...,0.0,0.0,0.0,0.0,0.264962,0.064023,0.0,0.0,0.562341,0.0
2,0.0,0.188347,0.416303,0.0,0.0,0.0,0.0,0.327601,0.0,0.382904,...,0.0,0.0,0.0,0.0,0.326728,0.001726,0.0,0.0,0.542945,0.0
3,0.0,0.230471,0.434438,0.0,0.0,0.0,0.0,0.349674,0.0,0.498414,...,0.0,0.0,0.0,0.0,0.281594,0.077210,0.0,0.0,0.508210,0.0
4,0.0,0.188005,0.416552,0.0,0.0,0.0,0.0,0.327501,0.0,0.382968,...,0.0,0.0,0.0,0.0,0.325403,0.000863,0.0,0.0,0.540642,0.0

In [305]:
local_df1.shape

(597, 1024)

In [306]:
df1=df.drop(labels="FrameName",axis=1)

In [307]:
df1.head()

,pxl_0,pxl_1,pxl_2,pxl_3,pxl_4,pxl_5,pxl_6,pxl_7,pxl_8,pxl_9,...,pxl_1014,pxl_1015,pxl_1016,pxl_1017,pxl_1018,pxl_1019,pxl_1020,pxl_1021,pxl_1022,pxl_1023
0,0.0,0.262435,0.0,0.0,0.0,0.0,0.0,0.295348,0.0,0.0,...,0.0,0.0,0.0,0.0,0.23238,0.045338,0.0,0.0,0.095131,0.0
1,0.0,0.262435,0.0,0.0,0.0,0.0,0.0,0.295348,0.0,0.0,...,0.0,0.0,0.0,0.0,0.23238,0.045338,0.0,0.0,0.095131,0.0
2,0.0,0.262435,0.0,0.0,0.0,0.0,0.0,0.295348,0.0,0.0,...,0.0,0.0,0.0,0.0,0.23238,0.045338,0.0,0.0,0.095131,0.0
3,0.0,0.262435,0.0,0.0,0.0,0.0,0.0,0.295348,0.0,0.0,...,0.0,0.0,0.0,0.0,0.23238,0.045338,0.0,0.0,0.095131,0.0
4,0.0,0.262435,0.0,0.0,0.0,0.0,0.0,0.295348,0.0,0.0,...,0.0,0.0,0.0,0.0,0.23238,0.045338,0.0,0.0,0.095131,0.0

In [308]:
df1.shape

(90, 1024)

In [309]:
local_df1.shape

(597, 1024)

In [310]:
# Euclidean distance finding
loc_ix=[]
for i in range(len(df1)):
    for j in range(len(local_df1)):
        similarity = np.dot(local_df1.iloc[j].values, df1.iloc[i].values) / (np.linalg.norm(local_df1.iloc[j].values) * np.linalg.norm(df1.iloc[i].values))
        if similarity>0.90:
            loc_ix.append(j)
        else:
            continue

In [311]:
print(loc_ix)

[]

In [283]:
loc_ix=list(set(loc_ix))

In [284]:
print(loc_ix)

[]

### Duplicated Frames form the input data

In [320]:
duplicated_frames=local_df.iloc[loc_ix]

In [321]:
duplicated_frames.shape

(0, 1026)

In [322]:
duplicated_frames=duplicated_frames[['VideosNames','FramesNames']]
duplicated_frames.head(10)

Empty DataFrame
Columns: [VideosNames, FramesNames]
Index: []

# Thank You